/* css clip path */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 600px;
  height: 300px;
  border-radius: 20px;
  background-color: tomato;
  padding: 20px;
  clip-path: circle(10% at 90% 20%);
  transition: all 0.5s ease-in-out;
}

.card:hover {
  clip-path: circle(70.7% at 50% 50%);
}
